$background-white: #FFFFFF;
$background-black: #222222;
$background-black-light: #292929;
$background-grey: #333333;
$background-grey-light: #F9F9F9;
$background-footer: #F8F8F8;
$letterColor-black: #111111;
$letterColor-grey: #686868;
$letterColor-grey-light: #777777;
$archivo-font: 'Archivo';
$old-standard-font: 'Old Standard TT';
$roboto-font: 'Roboto';
$weight-400: 400;
$weight-600: 600;
$weight-700: 700;
$color-botton: #BEAD8E;
$color-brown-light: #BDAC8D;
$color-grey-light-letter: #C2C2C2;