@charset "UTF-8";
.food__section {
  width: 90%;
  margin: auto;
  background-color: #FFFFFF;
  max-width: 320px;
  position: relative;
  margin-bottom: 30px;
}
.food__section .icon-food-mobile {
  position: absolute;
  width: 65px;
  right: -8%;
  top: -5%;
}
.food__section-info {
  padding-top: 30px;
}
.food__section-info h2 {
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.8px;
  color: #777777;
}
.food__section-info h3 {
  margin-top: 21px;
  font-family: "Old Standard TT";
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: #222222;
}
.food__section-cards-container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-top: 15px;
}
.food__section-cards-container .icon-food-desktop {
  display: none;
}
.food__section .food__cards-container {
  display: flex;
  transition: transform 0.3s ease;
}
.food__section .food__cards-container .card-food {
  flex: 0 0 310px;
  flex-direction: column;
  max-width: 300px;
  margin: 8px;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 7px;
}
.food__section .food__cards-container .card-food .swiper-slide {
  width: auto;
  max-width: 100%;
}
.food__section .food__cards-container .card-food .section-food {
  display: flex;
  justify-content: space-around;
}
.food__section .food__cards-container .card-food .section-food .card-img-food {
  width: 45%;
  overflow: hidden;
}
.food__section .food__cards-container .card-food .section-food .card-img-food img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
.food__section .food__cards-container .card-food .section-food .section-food-info {
  width: 55%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;
  padding: 3px;
}
.food__section .food__cards-container .card-food .section-food .section-food-info h4 {
  font-family: "Old Standard TT";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.72px;
  color: #222222;
}
.food__section .food__cards-container .card-food .section-food .section-food-info p {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #222222;
  margin-top: 9px;
}
.food__section .food__cards-container .card-food .section-food .section-food-info:hover {
  box-shadow: 5px 5px 10px rgba(147, 110, 5, 0.28);
}
.food__section .food__cards-container-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
.food__section .food__cards-container-button .prev-btn2 {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.568627451);
}
.food__section .food__cards-container-button .next-btn2 {
  border: none;
  background-color: #BEAD8E;
  margin-left: 20px;
}
.food__section-slider {
  margin-top: 12px;
  position: relative;
  max-width: 320px;
  margin: 0 auto;
}
.food__section-slider-wrapper {
  display: flex;
  aspect-ratio: 12/9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 4px;
}
.food__section-slider-wrapper img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  border-radius: 4px;
  transition: transform;
}
.food__section-slider-wrapper img:hover {
  transform: scale(1.01);
}
.food__section-slider-nav {
  display: flex;
  column-gap: 10px;
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.food__section-slider-nav a {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 1;
  transition: opacity ease 1s;
}
.food__section-slider-nav a:hover {
  background-color: #BEAD8E;
}

@media only screen and (min-width: 1024px) {
  .icon-food-desktop {
    position: absolute;
    width: 100px;
    left: 3%;
    top: -46%;
    z-index: 999;
    display: flex;
  }
  .icon-food-mobile {
    display: none;
  }
  .food__section {
    width: 100%;
    max-width: 100%;
    margin-bottom: 60px;
    background-color: #FFFFFF;
  }
  .food__section-cards-container {
    overflow: visible;
  }
  .food__cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .card-food {
    max-width: 300px;
    margin: 0;
    background-color: #FFFFFF;
  }
  .prev-btn2 img,
  .next-btn2 img {
    display: none;
  }
  .food__section-slider {
    max-width: 900px;
  }
  .food__section-slider-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: auto;
    gap: 20px;
    /* Espacio entre las imágenes */
    overflow: hidden;
  }
  .food__section-slider-wrapper img {
    width: 100%;
    /* Imágenes que ocupan el 100% del ancho */
    height: 200px;
  }
  .food__section-slider-nav {
    display: none;
  }
}
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

header {
  max-width: 100%;
  align-items: center;
  padding: 0 20px;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  line-height: 17.41px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
}
header .menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
header .menu__logo {
  text-decoration: none;
  padding: 12px 0;
}
header .menu__logo_section {
  display: flex;
}
header .menu__logo_section-H {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  height: 36px;
  background-color: #FFFFFF;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  color: black;
}
header .menu__logo_section-H span {
  display: flex;
  align-self: center;
  font-weight: 700;
  font-size: 22px;
  font-family: "Archivo";
}
header .menu__logo_section-name {
  display: inline-block;
  align-self: center;
  text-transform: uppercase;
  padding-left: 12px;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.5999999046px;
  text-align: left;
  color: #111111;
}
header .menu__logo_section-name_hotel {
  font-weight: 700;
  display: block;
}
header .menu__icon {
  cursor: pointer;
  background-image: url("../../assets/hamburguer-menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 13px;
  display: inline-block;
}
header .menu__icon.close {
  background-image: url("../../assets/close-menu.svg");
  text-align: center;
}
header .menu__items {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 32px 21px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2901960784);
}
header .menu__items.show {
  display: flex;
}
header .menu .menu__items-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header .menu li {
  margin-bottom: 24px;
}
header .menu > *:nth-child(4) {
  margin-left: auto;
}
header .icons-section {
  display: flex;
  flex-direction: row;
}
header .icons-section__user-icon, header .icons-section__search-icon {
  padding-top: 23px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  display: inline-block;
}
header .icons-section__user-icon {
  background-image: url("../../assets/user.svg");
}
header .icons-section__search-icon {
  background-image: url("../../assets/search.svg");
  margin-left: 24px;
}

.footer {
  background-image: url("../../assets/background-footer.svg");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 32px 22px;
  font-family: "Archivo";
}
.footer__logo {
  width: 100%;
  margin-left: -19px;
}
.footer__text {
  margin: 18px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #777777;
}
.footer__socials {
  padding: 18px 0;
}
.footer__services {
  padding: 18px 0;
}
.footer__services h2 {
  font-family: "Old Standard TT";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #222222;
}
.footer__services-list {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  color: #777777;
  display: flex;
  justify-content: space-between;
  gap: 2;
  margin: 24px 0;
}
.footer__services-list li {
  list-style: none;
}
.footer__contact h2 {
  font-family: "Old Standard TT";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #222222;
}
.footer__contact_list {
  display: flex;
  margin-top: 34px;
}
.footer__contact_list img {
  max-width: 40px;
}
.footer__contact_list h3 {
  font-family: "Old Standard TT";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #222222;
}
.footer__contact_list span {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #777777;
}
.footer__contact_list-content {
  margin-left: 21px;
}
.footer__copyright {
  padding: 20px;
  margin: 34px -22px -32px -22px;
  background: #F8F8F8;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.4799999893px;
  text-align: left;
}
.footer__copyright-by {
  margin-bottom: 20px;
}

.home {
  background-color: #FFFFFF;
}
.home .front__section {
  color: #FFFFFF;
  min-height: 60vh;
  background: #333333;
  padding: 50px 20px 60px 20px;
}
.home .front__section p {
  font-family: "Archivo";
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  width: 70%;
  margin-bottom: 30px;
}
.home .front__section h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2000000477px;
  text-align: left;
  margin-bottom: 30px;
}
.home .front__section h1 span {
  display: block;
}
.home .front__section_buttons {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 24px;
}
.home .front__section_buttons a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  text-transform: uppercase;
  text-align: center;
  padding: 22.8px 48.73px;
}
.home .front__section_buttons-tour {
  background: #BEAD8E;
}
.home .front__section_buttons-more {
  color: rgba(255, 255, 255, 0.3294117647);
  border: 2px solid rgba(255, 255, 255, 0.3294117647);
}
.home .schedule__section {
  color: #FFFFFF;
  width: 100%;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}
.home .schedule__section-calendar {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: self-start;
  margin: auto;
  justify-content: center;
  height: auto;
  max-width: 600px;
}
.home .schedule__section .input__container__arrival {
  margin-bottom: 24px;
}
.home .schedule__section .input__container__arrival label {
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 18.75px;
}
.home .schedule__section .input-calendar {
  position: relative;
  display: flex;
  padding-bottom: 7px;
  flex-direction: row-reverse;
  background-color: transparent;
  color: #b3a5a5;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: #BEAD8E;
  width: 290px;
  padding-left: 30px;
  padding-top: 20px;
  font-family: "Roboto";
}
.home .schedule__section .input-calendar[type=date]::-webkit-calendar-picker-indicator {
  background-size: 16px 16px;
  height: 20px;
  width: 100%;
  background-position-x: 1%;
  color: #BEAD8E;
  position: absolute;
  cursor: pointer;
  filter: invert(0.8);
}
.home .schedule__section .input__container__departure label {
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 18.75px;
}
.home .schedule__section-button {
  max-width: 600px;
  margin: auto;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 90%;
  cursor: pointer;
  transition: transform 0.2s;
}
.home .schedule__section-button:hover {
  transform: scale(1.02);
}
.home .schedule__section-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  background-color: #BEAD8E;
  color: #FFFFFF;
  border: none;
  font-size: 14px;
  font-family: Archivo;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.8px;
  text-decoration: none;
}
.home .about__section {
  background: #F9F9F9;
  font-family: "Archivo";
  padding: 38px 20px;
  margin-top: 38px;
}
.home .about__section-info h2 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.7999999523px;
  color: #777777;
}
.home .about__section-info h3 {
  font-family: "Old Standard TT";
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2000000477px;
  margin-top: 32px;
  margin-bottom: 16px;
}
.home .about__section-info p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #777777;
  margin-bottom: 24px;
}
.home .about__section-info-button {
  background: #BDAC8D;
  width: 216px;
  height: 60px;
}
.home .about__section-info-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 216px;
  height: 60px;
  background-color: #BEAD8E;
  color: #FFFFFF;
  border: none;
  font-size: 14px;
  font-family: Archivo;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.8px;
  text-decoration: none;
}
.home .about__section-feature {
  background: #FFFFFF;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 54px 0;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1764705882);
}
.home .about__section-feature-img {
  width: 100%;
}
.home .about__section-feature-detail-team, .home .about__section-feature-detail-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px;
}
.home .about__section-feature-detail-team img, .home .about__section-feature-detail-room img {
  width: 68px;
}
.home .about__section-feature-detail-team h4, .home .about__section-feature-detail-room h4 {
  text-align: center;
  font-family: "Old Standard TT";
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.8999999762px;
  text-align: left;
  margin-top: 29.5px;
}
.home .about__section-feature-detail-team p, .home .about__section-feature-detail-room p {
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 21px;
}
.home .about__section-feature-detail-team {
  background-image: url("../../assets/home/bg_strong-team.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 54px;
}
.home .about__section-feature-detail-room {
  background: #222222;
  color: #FFFFFF;
}
.home .video__section {
  display: flex;
  flex-direction: column;
  background-color: #222222;
  margin-top: 30px;
  padding: 64px 0 34px 0;
}
.home .video__section-content-info {
  width: 90%;
  margin: auto;
  max-width: 600px;
  margin-top: 35px;
}
.home .video__section-content-info h2 {
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.8px;
  color: #BDAC8D;
}
.home .video__section-content-info h3 {
  margin-top: 20px;
  font-family: "Old Standard TT";
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: #FFFFFF;
}
.home .video__section-content-info p {
  margin-top: 20px;
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #C2C2C2;
  max-width: 400px;
}
.home .video__section-content-iframe {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  width: 90%;
  max-width: 600px;
  margin-top: 35px;
}
.home .video__section-content-iframe iframe {
  height: 250px;
  border-radius: 5px;
}
.home .video__section-button {
  max-width: 320px;
  margin: 30px 20px;
}
.home .video__section-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 216px;
  height: 60px;
  background-color: #BEAD8E;
  color: #FFFFFF;
  border: none;
  font-size: 14px;
  font-family: "Archivo";
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.8px;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s;
}
.home .video__section-button a:hover {
  transform: scale(1.02);
}
.home .features__section {
  width: 90%;
  margin: auto;
  background-color: #FFFFFF;
  max-width: 300px;
  padding-bottom: 40px;
  background: #FFFFFF;
}
.home .features__section-slider-nav {
  display: flex;
  column-gap: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding-top: 15px;
}
.home .features__section-slider-nav a {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #EDEDED;
  opacity: 1;
  transition: opacity ease 1s;
}
.home .features__section-slider-nav a:hover {
  background-color: #BEAD8E;
}
.home .features__section-slider-nav .a-selected {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #BEAD8E;
  opacity: 1;
  transition: opacity ease 1s;
}
.home .features__section-info {
  padding-top: 30px;
}
.home .features__section-info h2 {
  text-align: center;
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.8px;
  color: #777777;
  margin-top: 36px;
}
.home .features__section-info h3 {
  text-align: center;
  margin-top: 21px;
  font-family: "Old Standard TT";
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: #222222;
}
.home .features__section .features__section-cards-container {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-top: 15px;
}
.home .features__section .cards-container {
  display: flex;
  transition: transform 0.3s ease;
}
.home .features__section .card {
  flex: 0 0 300px;
  flex-direction: column;
  max-width: 300px;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 7px;
  transition-property: scale();
  transition-duration: 0.5s;
}
.home .features__section .card:hover {
  scale: 1.05;
}
.home .features__section .card-img {
  margin-top: 45px;
}
.home .features__section .card1,
.home .features__section .card2,
.home .features__section .card3,
.home .features__section .card4,
.home .features__section .card5,
.home .features__section .card6 {
  padding: 15px 15px 0 15px;
}
.home .features__section .card1 h4,
.home .features__section .card2 h4,
.home .features__section .card3 h4,
.home .features__section .card4 h4,
.home .features__section .card5 h4,
.home .features__section .card6 h4 {
  margin-top: 30px;
  font-family: "Old Standard TT";
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.9px;
  color: #222222;
}
.home .features__section .card1 p,
.home .features__section .card2 p,
.home .features__section .card3 p,
.home .features__section .card4 p,
.home .features__section .card5 p,
.home .features__section .card6 p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #777777;
}
.home .features__section .card1 .card-number,
.home .features__section .card2 .card-number,
.home .features__section .card3 .card-number,
.home .features__section .card4 .card-number,
.home .features__section .card5 .card-number,
.home .features__section .card6 .card-number {
  position: absolute;
  top: 0;
  right: 25px;
  font-family: "Archivo";
  font-size: 95px;
  font-weight: 700;
  line-height: 130px;
  color: rgba(119, 119, 119, 0.15);
}

@media screen and (min-width: 1024px) {
  header {
    background: #222222;
    max-height: 100px;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
  }
  header .menu {
    padding: 0 18px;
    min-width: 90%;
    margin: 40px auto 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1843137255);
  }
  header .menu__logo_section {
    margin-right: 24px;
  }
  header .menu__logo_section-H {
    min-width: 80px;
    height: 80px;
  }
  header .menu__logo_section-H span {
    font-weight: 700;
    font-size: 40px;
  }
  header .menu__logo_section-name {
    margin-left: 24px;
    font-size: 26px;
    font-weight: 400;
    line-height: 28.29px;
    letter-spacing: 2.5999999046px;
  }
  header .menu__icon {
    display: none;
  }
  header .menu__icon.close {
    display: none;
  }
  header .menu__items {
    display: flex;
    width: 60%;
    position: static;
    box-shadow: none;
    align-items: flex-start;
    padding: 0;
  }
  header .menu li {
    padding: 0 24px;
    display: inline-block;
    margin: 50px 0;
  }
  header .menu > *:nth-child(4) {
    margin-right: auto;
  }
  header .icons-section__user-section, header .icons-section__search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    min-width: 60px;
    min-height: 60px;
    margin-left: 0;
    border: 2px solid rgba(133, 133, 133, 0.3019607843);
  }
  header .icons-section__search-section {
    margin-left: 24px;
  }
  header .icons-section__user-icon, header .icons-section__search-icon {
    padding-top: 23px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    display: inline-block;
  }
  header .icons-section__search-icon {
    margin: 0;
  }
  .home .features__section {
    width: 100%;
    max-width: 100%;
    background-color: #f2f2f2;
  }
  .home .features__section-slider-nav {
    display: none;
  }
  .home .features__section-cards-container {
    overflow: visible;
    width: 100vw;
  }
  .home .swiper-slide {
    height: fit-content;
    width: fit-content;
  }
  .home .cards-container {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    gap: 10px;
    width: 100%;
  }
  .home .card {
    max-width: 300px;
    margin: 0;
    background-color: #FFFFFF;
  }
  .home .card-elipses {
    display: none;
  }
  .home .card-elipses img {
    display: none;
  }
  .footer__sections {
    display: flex;
    justify-content: space-around;
    padding: 34px 0 24px 0;
  }
  .footer__text {
    max-width: 270px;
  }
  .footer__services {
    padding-top: 0;
  }
  .footer__copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer__copyright-by {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
