html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

header {
  max-width: 100%;
  align-items: center;
  padding: 0 20px;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  line-height: 17.41px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
}
header .menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
header .menu__logo {
  text-decoration: none;
  padding: 12px 0;
}
header .menu__logo_section {
  display: flex;
}
header .menu__logo_section-H {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  height: 36px;
  background-color: #FFFFFF;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  color: black;
}
header .menu__logo_section-H span {
  display: flex;
  align-self: center;
  font-weight: 700;
  font-size: 22px;
  font-family: "Archivo";
}
header .menu__logo_section-name {
  display: inline-block;
  align-self: center;
  text-transform: uppercase;
  padding-left: 12px;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.5999999046px;
  text-align: left;
  color: #111111;
}
header .menu__logo_section-name_hotel {
  font-weight: 700;
  display: block;
}
header .menu__icon {
  cursor: pointer;
  background-image: url("../../assets/hamburguer-menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 13px;
  display: inline-block;
}
header .menu__icon.close {
  background-image: url("../../assets/close-menu.svg");
  text-align: center;
}
header .menu__items {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 32px 21px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2901960784);
}
header .menu__items.show {
  display: flex;
}
header .menu .menu__items-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header .menu li {
  margin-bottom: 24px;
}
header .menu > *:nth-child(4) {
  margin-left: auto;
}
header .icons-section {
  display: flex;
  flex-direction: row;
}
header .icons-section__user-icon, header .icons-section__search-icon {
  padding-top: 23px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  display: inline-block;
}
header .icons-section__user-icon {
  background-image: url("../../assets/user.svg");
}
header .icons-section__search-icon {
  background-image: url("../../assets/search.svg");
  margin-left: 24px;
}

.footer {
  background-image: url("../../assets/background-footer.svg");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 32px 22px;
  font-family: "Archivo";
}
.footer__logo {
  width: 100%;
  margin-left: -19px;
}
.footer__text {
  margin: 18px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #777777;
}
.footer__socials {
  padding: 18px 0;
}
.footer__services {
  padding: 18px 0;
}
.footer__services h2 {
  font-family: "Old Standard TT";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #222222;
}
.footer__services-list {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  color: #777777;
  display: flex;
  justify-content: space-between;
  gap: 2;
  margin: 24px 0;
}
.footer__services-list li {
  list-style: none;
}
.footer__contact h2 {
  font-family: "Old Standard TT";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #222222;
}
.footer__contact_list {
  display: flex;
  margin-top: 34px;
}
.footer__contact_list img {
  max-width: 40px;
}
.footer__contact_list h3 {
  font-family: "Old Standard TT";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #222222;
}
.footer__contact_list span {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #777777;
}
.footer__contact_list-content {
  margin-left: 21px;
}
.footer__copyright {
  padding: 20px;
  margin: 34px -22px -32px -22px;
  background: #F8F8F8;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.4799999893px;
  text-align: left;
}
.footer__copyright-by {
  margin-bottom: 20px;
}

.home {
  background-color: #FFFFFF;
}
.home .front__section {
  color: #FFFFFF;
  min-height: 60vh;
  background: #333333;
  padding: 50px 20px 60px 20px;
}
.home .front__section p {
  font-family: "Archivo";
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  width: 70%;
  margin-bottom: 30px;
}
.home .front__section h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2000000477px;
  text-align: left;
  margin-bottom: 30px;
}
.home .front__section h1 span {
  display: block;
}
.home .front__section_buttons {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 24px;
}
.home .front__section_buttons a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  text-transform: uppercase;
  text-align: center;
  padding: 22.8px 48.73px;
}
.home .front__section_buttons-tour {
  background: #BEAD8E;
}
.home .front__section_buttons-more {
  color: rgba(255, 255, 255, 0.3294117647);
  border: 2px solid rgba(255, 255, 255, 0.3294117647);
}
.home .schedule__section {
  color: #FFFFFF;
  width: 100%;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}
.home .schedule__section-calendar {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: self-start;
  margin: auto;
  justify-content: center;
  height: auto;
  max-width: 600px;
}
.home .schedule__section .input__container__arrival {
  margin-bottom: 24px;
}
.home .schedule__section .input__container__arrival label {
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 18.75px;
}
.home .schedule__section .input-calendar {
  position: relative;
  display: flex;
  padding-bottom: 7px;
  flex-direction: row-reverse;
  background-color: transparent;
  color: #b3a5a5;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: #BEAD8E;
  width: 290px;
  padding-left: 30px;
  padding-top: 20px;
  font-family: "Roboto";
}
.home .schedule__section .input-calendar[type=date]::-webkit-calendar-picker-indicator {
  background-size: 16px 16px;
  height: 20px;
  width: 100%;
  background-position-x: 1%;
  color: #BEAD8E;
  position: absolute;
  cursor: pointer;
  filter: invert(0.8);
}
.home .schedule__section .input__container__departure label {
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 18.75px;
}
.home .schedule__section-button {
  max-width: 600px;
  margin: auto;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 90%;
  cursor: pointer;
  transition: transform 0.2s;
}
.home .schedule__section-button:hover {
  transform: scale(1.02);
}
.home .schedule__section-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  background-color: #BEAD8E;
  color: #FFFFFF;
  border: none;
  font-size: 14px;
  font-family: Archivo;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.8px;
  text-decoration: none;
}
.home .about__section {
  background: #F9F9F9;
  font-family: "Archivo";
  padding: 38px 20px;
  margin-top: 38px;
}
.home .about__section-info h2 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.7999999523px;
  color: #777777;
}
.home .about__section-info h3 {
  font-family: "Old Standard TT";
  font-size: 56px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2000000477px;
  margin-top: 32px;
  margin-bottom: 16px;
}
.home .about__section-info p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #777777;
  margin-bottom: 24px;
}
.home .about__section-info-button {
  background: #BDAC8D;
  width: 216px;
  height: 60px;
}
.home .about__section-info-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 216px;
  height: 60px;
  background-color: #BEAD8E;
  color: #FFFFFF;
  border: none;
  font-size: 14px;
  font-family: Archivo;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.8px;
  text-decoration: none;
}
.home .about__section-feature {
  background: #FFFFFF;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 54px 0;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1764705882);
}
.home .about__section-feature-img {
  width: 100%;
}
.home .about__section-feature-detail-team, .home .about__section-feature-detail-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px;
}
.home .about__section-feature-detail-team img, .home .about__section-feature-detail-room img {
  width: 68px;
}
.home .about__section-feature-detail-team h4, .home .about__section-feature-detail-room h4 {
  text-align: center;
  font-family: "Old Standard TT";
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.8999999762px;
  text-align: left;
  margin-top: 29.5px;
}
.home .about__section-feature-detail-team p, .home .about__section-feature-detail-room p {
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 21px;
}
.home .about__section-feature-detail-team {
  background-image: url("../../assets/home/bg_strong-team.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 54px;
}
.home .about__section-feature-detail-room {
  background: #222222;
  color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
  header {
    background: #222222;
    max-height: 100px;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
  }
  header .menu {
    padding: 0 18px;
    min-width: 90%;
    margin: 40px auto 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1843137255);
  }
  header .menu__logo_section {
    margin-right: 24px;
  }
  header .menu__logo_section-H {
    min-width: 80px;
    height: 80px;
  }
  header .menu__logo_section-H span {
    font-weight: 700;
    font-size: 40px;
  }
  header .menu__logo_section-name {
    margin-left: 24px;
    font-size: 26px;
    font-weight: 400;
    line-height: 28.29px;
    letter-spacing: 2.5999999046px;
  }
  header .menu__icon {
    display: none;
  }
  header .menu__icon.close {
    display: none;
  }
  header .menu__items {
    display: flex;
    width: 60%;
    position: static;
    box-shadow: none;
    align-items: flex-start;
    padding: 0;
  }
  header .menu li {
    padding: 0 24px;
    display: inline-block;
    margin: 50px 0;
  }
  header .menu > *:nth-child(4) {
    margin-right: auto;
  }
  header .icons-section__user-section, header .icons-section__search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    min-width: 60px;
    min-height: 60px;
    margin-left: 0;
    border: 2px solid rgba(133, 133, 133, 0.3019607843);
  }
  header .icons-section__search-section {
    margin-left: 24px;
  }
  header .icons-section__user-icon, header .icons-section__search-icon {
    padding-top: 23px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    display: inline-block;
  }
  header .icons-section__search-icon {
    margin: 0;
  }
  .footer__sections {
    display: flex;
    justify-content: space-around;
    padding: 34px 0 24px 0;
  }
  .footer__text {
    max-width: 270px;
  }
  .footer__services {
    padding-top: 0;
  }
  .footer__copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer__copyright-by {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
