@import '../variables.scss';

.rooms__slider__section {
    width: 100%;

    .rooms-slider-container {
        background-color: $background-white;

        .rooms__slider {
            max-width: 300px;
            margin: auto;
            margin-top: 45px;

            h3 {
                font-family: $old-standard-font;
                font-weight: $weight-400;
                font-size: 24px;
                line-height: 24px;
                letter-spacing: -0.72px;
                color: $background-black;
                text-align: center;
                margin-top: 48px;
            }

            p {
                font-family: $roboto-font;
                font-weight: $weight-400;
                font-size: 14px;
                line-height: 24px;
                color: $letterColor-grey-light;
                text-align: center;
                margin: 13px 0px;
            }

            img {
                max-width: 100%;
                border-radius: 3px;
            }

            &-amenities {
                width: 256px;
                height: 40px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                background-color: white;
                margin: auto;
                margin-top: -24px;
                z-index: 1;
                position: relative;
                display: flex;
                justify-content: center;
                box-shadow: 0px 3px 6px 0px rgba(68, 68, 68, 0.64);
            }

            &-price {
                display: flex;
                justify-content: space-between;
                width: 80%;
                margin: auto;

                span {
                    font-family: $archivo-font;
                    font-weight: $weight-700;
                    font-size: 16px;
                    line-height: 17.41px;
                    color: $color-botton;
                }

                a {
                    font-family: $archivo-font;
                    font-weight: $weight-700;
                    font-size: 16px;
                    line-height: 17.41px;
                    color: #BDBDBD;
                    border: none;
                    background: transparent;
                    transition: transform;
                    text-decoration: none;
                    padding: 2px;
                }

                a:hover {
                    transform: scale(1.05);
                    background-color: #BEAD8E;
                    color: white;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 2px;
                    width: 114px;
                }

            }
        }
    }

    .rooms-pagination {

        .rooms-pages {
            background-color: $background-white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 30px;
            margin-bottom: 40px;

            nav {
                font-family: "Oswald";
                font-size: 14px;
                font-weight: 700;
                line-height: 19px;
                letter-spacing: 0px;
                text-align: center;
                color: $background-black;
                display: flex;
                flex-direction: column;
                text-decoration: none;

                a {
                    text-decoration: none;
                    color: $background-black-light;
                }

                a:hover {
                    color: $color-botton;
                }

            }

            nav>div:last-child>div:last-child {
                margin-top: 21px;
                text-decoration: none;

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    span[aria-current="page"] {
                        color: $background-white;
                        background-color: $color-botton;
                        display: flex;
                        align-self: center;
                        width: 39px;
                        height: 39px;

                    }
                }

                /* Estilos para el último div hijo del último div hijo del nav */
            }

            svg {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .rooms-slider-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        flex-direction: row;
        min-width: 1000px;
        width: 100%;
    }

    .rooms__slider__section {
        background-color: $background-grey-light;
        max-width: 1200px;
        margin: auto;
    }

    .rooms-slider {
        max-width: 300px;
        height: 395px;
        background-color: $background-white;

        img {
            max-width: 300px;
        }
    }

    .rooms__grid-price {
        form {
            button:hover {
                background-color: #BEAD8E;
                color: white;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2px;
                width: 114px;
            }
        }
    }


}