@import '../variables.scss';

.features__section {
    width: 90%;
    margin: auto;
    background-color: $background-white;
    max-width: 320px;
    padding-bottom: 20px;
    background: #FFFFFF;

    &-slider-nav {
        display: flex;
        column-gap: 10px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        padding-top: 15px;

        a {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #EDEDED;
            opacity: 1.0;
            transition: opacity ease 1s;
        }

        a:hover {
            background-color: $color-botton;
        }

        .a-selected {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $color-botton;
            opacity: 1.0;
            transition: opacity ease 1s;
        }
    }

    &-info {
        padding-top: 30px;

        h2 {
            text-align: center;
            font-family: $archivo-font;
            font-size: 14px;
            font-weight: $weight-700;
            line-height: 15.23px;
            letter-spacing: 2.8px;
            color: $letterColor-grey-light;
            margin-top: 36px;
        }

        h3 {
            text-align: center;
            margin-top: 21px;
            font-family: $old-standard-font;
            font-size: 48px;
            font-weight: $weight-400;
            line-height: 60px;
            letter-spacing: -1.2px;
            color: $background-black;
        }
    }

    //SLIDER CARDS
    .features__section-cards-container {
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        margin-top: 15px;
    }

    .cards-container {
        display: flex;
        transition: transform 0.3s ease;
        justify-content: center;
    }

    .card {
        flex: 0 0 320px;
        flex-direction: column;
        max-width: 320px;
        min-height: fit-content;
        display: flex;
        justify-content: center;
        position: relative;
        border-radius: 7px;
    }

    .card-img {
        margin-top: 45px;
    }

    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6 {
        padding: 15px;

        h4 {
            margin-top: 30px;
            font-family: $old-standard-font;
            font-size: 30px;
            font-weight: $weight-400;
            line-height: 30px;
            letter-spacing: -0.9px;
            color: $background-black;
        }

        p {
            margin-top: 30px;
            margin-bottom: 30px;
            font-family: $archivo-font;
            font-size: 14px;
            font-weight: $weight-400;
            line-height: 24px;
            color: $letterColor-grey-light;
        }

        .card-number {
            position: absolute;
            top: 0;
            right: 25px;
            font-family: $archivo-font;
            font-size: 95px;
            font-weight: $weight-700;
            line-height: 130px;
            color: rgb(119 119 119 / 15%);
        }

        .swiper-slide-active,
        .swiper-slide-active {
            width: 100%;
        }
    }

}

@media screen and (min-width: 1024px) {
    .features__section {
        width: 100%;
        max-width: 100%;

        &-slider-nav {
            display: none;
        }

        &-cards-container {
            overflow: visible;
            width: 100vw;
        }

        .swiper-slide {
            height: fit-content;
            width: fit-content;
        }

        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            height: fit-content;
            gap: 10px;
            width: 100%;
        }

        .card1,
        .card2,
        .card3,
        .card4,
        .card5,
        .card6 {
            max-width: 300px;
            margin: 0;
            background-color: $background-white;
            transition-property: scale();
            transition-duration: 0.5s;
        }

        .card1:hover,
        .card2:hover,
        .card3:hover,
        .card4:hover,
        .card5:hover,
        .card6:hover {
            scale: 1.05;
        }

        .card {

            &-elipses {
                display: none;

                img {
                    display: none;
                }
            }
        }

        .prev-btn1,
        .next-btn1 {
            display: none;
        }
    }

}