@import '../variables.scss';


.rooms__section {
    max-width: 100%;

    &-info {
        h2 {
            font-family: "Archivo";
            font-size: 14px;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 2.799999952316284px;
            text-align: center;
            text-transform: uppercase;
            color: $letterColor-grey-light;
        }

        h3 {
            font-family: "Old Standard TT";
            font-size: 56px;
            font-weight: 400;
            line-height: 60px;
            letter-spacing: -1.2000000476837158px;
            text-align: center;
            color: $background-black;
            margin-bottom: 21px;
        }
    }

    .swiper {

        &-slide {

            &__amenities {
                width: 256px;
                margin: auto;
                height: 40px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                box-shadow: 0px 3px 6px 0px rgba(68, 68, 68, 0.64);
                z-index: 1;
                background-color: white;
                margin: auto;
                position: relative;
                margin-bottom: -20px;

                img {
                    width: 100%;
                }
            }

            &__images {
                width: 100%;

                img {
                    height: auto;
                    max-width: 100%;
                }
            }

            &__price {
                display: flex;
                flex-direction: column;
                width: 90%;
                max-width: 320px;
                margin: auto;
                justify-content: center;
                border: 1px solid $background-white;
                margin-top: -17px;
                z-index: 1;
                position: relative;
                background-color: $background-white;
                box-shadow: 0px 3px 6px 0px rgba(68, 68, 68, 0.64);
                transition: transform;

                a {
                    text-decoration: none;
                }

                :hover {
                    transform: scale(1.007);
                }

                &-info {
                    h4 {
                        font-family: "Old Standard TT";
                        font-size: 28px;
                        font-weight: 400;
                        line-height: 36px;
                        letter-spacing: -1.2000000476837158px;
                        text-align: center;
                        color: $background-black;
                    }

                    p {
                        font-family: "Roboto";
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0px;
                        text-align: center;
                        color: $letterColor-grey-light;
                    }
                }

                &-number {
                    font-family: "Archivo";
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 43px;
                    letter-spacing: 0px;
                    text-align: center;
                    color: $color-botton;

                    &-night {
                        font-size: 13px;
                        font-weight: 700;
                        line-height: 43px;
                        letter-spacing: 0px;
                        text-align: center;
                    }

                }
            }

        }

        &-wrapper {
            height: fit-content;
            padding-bottom: 1rem;
        }

        &-button-prev,
        &-button-next {
            margin-top: -25%;
        }

        &-button-prev::after,
        &-button-next::after {
            display: none;
        }

    }
}

@media only screen and (min-width: 1024px) {
    .swiper {
        width: 600px;

        &-button-prev,
        &-button-next {
            margin-top: -15%;
        }
    }

    .slider-images img {
        max-width: 600px;
    }
}